@font-face {
    font-family: 'poppins_font';
    src: url('./Images/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins_font";
}

#navtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background: #f00;
}

#navtop a {
    color: #fff;
    height: 35px;
    padding: 5px;
}

#navtop #email {
    display: flex;
}

#navtop #contact {
    display: flex;
    flex-wrap: wrap;
}

#navtop #email:hover,
#navtop #contact .number:hover,
#navtop #email:focus,
#navtop #contact .number:focus {
    background: #b90000;
}

#navsecondary {
    background: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 15px;
    z-index: 99;
}

#navsecondary #title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #f00;
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

#home {
    height: 450px;
    position: relative;
}

#home #bg_slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    /* display: none; */
}

#home #bg_slider .img {
    min-width: 100%;
    height: 100%;
    background-image: var(--src);
    background-size: cover;
    background-position: 0 0;
    animation: slide 12s ease infinite;
}

@keyframes slide {
    0%, 32% {
        transform: translateX(0%);
    }

    34%, 65% {
        transform: translateX(-100%);
    }

    67%, 99% {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(-300%);
    }
}

#home #name_text,
#home #addr {
    padding: 10px 60px;
}

#home #name_text .line {
    font-size: 3rem;
    font-weight: bold;
}

#home #name_text .line::first-letter {
    color: #f00;
}

#home #addr {
    padding: 10px 60px;
    font-size: 24px;
}

#home #addr .icon {
    padding-right: 10px;
}
#message {
    display: flex;
}

#message #message_txt {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message #message_txt h1 {
    font-size: 3rem;
    color: #136100;
}

#message #message_txt h2 {
    font-size: 2rem;
    background: #136100;
    color: #fff;
    align-self: start;
    padding: 0 10px;
    margin-bottom: 15px;
}

#message #message_txt p{
    font-size: 1.2rem;
}
#message #message_txt p span {
    font-weight: bold;
    color: #f00;
}

#message #message_imgbox {
    flex-shrink: 0;
    width: 45%;
    margin-left: 20px;
}

#message #message_imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom left;
}

#features #cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f2f8ff;
}
#features #cards .card{
    width: 250px;
    padding: 15px 10px;
    margin: 10px 20px;
    text-align: center;
    background: #fff;
    border: 1.5px solid #81a4af;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#features #cards .card i.icon{
    font-size: 2rem;
    color: #0056c1;
    margin-bottom: 15px;
}
#features #lists{
    display: flex;
    flex-wrap: wrap;
}
#features #lists .list{
    margin: 0 auto;
    padding: 20px 45px;
}
#features #lists .list ul li{
    list-style: none;
    display: flex;
}
#features #lists .list ul li::before{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    margin-right: 15px;
    color: #50a808;
    line-height: 1.5;
}

#contact{
    display: flex;
}
#contact #address{
    width: 60%;
    flex-shrink: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#contact #address .addr_title{
    font-size: 1.5rem; 
    font-weight: bold;
}
#contact #address .addr_line{
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
}
#contact #address .addr_line:hover{
    background: #eee;
}
#contact #address .addr_line .icon{
    padding: 5px;
    margin: 5px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
}
#contact #address iframe{
    height: 100%;
    min-height: 250px;
}
#contact #form_area{
    width: 40%;
    padding: 30px;
    background: #eefff9;
}
#contact #form_area form{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}
#contact #form_area form input,
#contact #form_area form textarea{
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 5px;
    border: 2px solid #abf4ff;
    outline: transparent;
    border-radius: 4px;
}
#contact #form_area form input:focus,
#contact #form_area form textarea:focus,
#contact #form_area form input:active,
#contact #form_area form textarea:active{
    border: 2px solid #7099a0;
}
#contact #form_area form textarea{
    resize: none;
    height: 200px;
}

#footer{
    background: #222;
    display: flex;
}
#footer a{
    width: 100%;
    color: #eee;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
#footer a span{
    text-decoration: underline;
}